body {
  margin: 0;
  background-image: url(./images/back.png);
  max-width: 1519px;
  max-height: 700px;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.peijer {
  margin-top: 50px;
  height: 650px;
  width: 1155px;
  position: relative;
}

.buttonUP {
  position: absolute;
  height: 200px;
  top: 200px;
  right: 260px;

  cursor: pointer;
}
.buttonDOWN {
  position: absolute;
  height: 200px;
  top: 390px;
  right: 260px;
  cursor: pointer;
}

.buttonLEFT {
  position: absolute;
  height: 35px;
  width: 220px;
  top: 627px;
  left: 23.5rem;

  cursor: pointer;
}
.buttonPause {
  position: absolute;
  height: 35px;
  width: 220px;
  top: 627px;
  left: 38rem;

  cursor: pointer;
}
.buttonRIGHT {
  position: absolute;
  height: 35px;
  width: 220px;
  top: 627px;
  right: 30rem;

  cursor: pointer;
}

.buttonStop {
  position: absolute;
  height: 35px;
  width: 70px;
  top: 627px;
  right: 25rem;

  cursor: pointer;
}

.canvas {
  position: absolute;
  border-radius: 66px;
  top: 178px;
  right: 24.8rem;
  background: #000;
}
