@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  margin: 0;
  background-image: url(./images/back.png);

  /* max-width: 1519px; */
  /* max-height: 700px; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* max-width: 900px; */
  /* margin: 0 auto; */
}

.peijer {
  height: 92%;
  width: 80%;
  position: relative;
}

.buttonUP {
  position: absolute;
  height: 26%;
  top: 25%;
  right: 14.5%;
  cursor: pointer;
}
.buttonDOWN {
  position: absolute;
  height: 26%;
  top: 52%;
  right: 14.5%;
  cursor: pointer;
}

.buttonLEFT {
  position: absolute;
  height: 4.5%;
  width: 14.5%;
  top: 85.5%;
  left: 24%;
  cursor: pointer;
}
.buttonPause {
  position: absolute;
  height: 4.5%;
  width: 14.5%;
  top: 85.5%;
  left: 39.8%;
  cursor: pointer;
}
.buttonRIGHT {
  position: absolute;
  height: 4.5%;
  width: 14%;
  top: 85.5%;
  right: 30.3%;
  cursor: pointer;
}

.buttonStop {
  position: absolute;
  height: 4.5%;
  width: 5.5%;
  top: 85.5%;
  right: 24%;
  cursor: pointer;
}

.canvas {
  position: absolute;
  border-radius: 13%;
  top: 4.7%;
  right: 16.4%;
  width: 60%;
  height: 80%;
  z-index: 0;
}

.button {
  font-family: 'Press Start 2P', sans-serif;

  font-size: 1vw;
  content: '';
  position: absolute;
  display: none;
  color: white;
  cursor: pointer;
  border-radius: 13%;
  border: 1px solid azure;

  padding: 2%;
  top: 55%;
  z-index: 1;
}
.button:hover {
  transition: 0.7s;
  background-color: black;
}

.active {
  display: block;
}
